<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flowers.mapper.ManagerOperationMapper" >
  <resultMap id="BaseResultMap" type="com.flowers.model.Userpara" >
    <id column="userId" property="userId" jdbcType="INTEGER" />
    <result column="loginType" property="loginType" jdbcType="INTEGER" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="userPassword" property="userPassword" jdbcType="VARCHAR" />
    <result column="userDescribe" property="userDescribe" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    userId, loginType,userName, userPassword, userDescribe, address,telphone
  </sql>
   <select id="loginCheck" resultType="java.lang.Integer" parameterType="map" >
    select count(userId) 
    from userpara 
    <if test="loginType != null and loginType != '' " >
    	where loginType = #{loginType,jdbcType=INTEGER} 
    </if>
    <if test="userName != null and userName != '' " >
	    and userName = #{userName,jdbcType=VARCHAR}    
    </if>
    <if test="userPassword != null and userPassword != '' " >
	    and userPassword = #{userPassword,jdbcType=VARCHAR} 
    </if>
  </select>
  <insert id="addUser" parameterType="com.flowers.model.Userpara" >
    insert into userpara
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        userId,
      </if>
      <if test="userName != null" >
        userName,
      </if>
      <if test="userPassword != null" >
        userPassword,
      </if>
      <if test="userDescribe != null" >
        userDescribe,
      </if>
      <if test="loginType != null" >
        loginType,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userDescribe != null" >
        #{userDescribe,jdbcType=VARCHAR},
      </if>
      <if test="loginType != null" >
        #{loginType,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey resultType="int" keyProperty="userId" order="BEFORE">
    	select CASE  when userId is NULL then 1 else userId END userId
		from (select max(userId)+1 userId from userpara)a
    </selectKey>
  </insert>
  <insert id="addUserDetail" parameterType="map" >
    insert into userdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        userName
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>  
  
 	<select id="listShengFenMsg" resultType="map" parameterType="map" >
	    select * from shengfen  
	    <if test="describe != null and describe != '' " >
		    where shengFenName like '%${describe}%'
	    </if>
  	</select> 

	<update id="updateShengFenDetail" parameterType="com.flowers.model.ShengFen" >
    update shengfen
    <set >
      <if test="shengFenXiangQing != null" >
        shengFenXiangQing = #{shengFenXiangQing,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
	<select id="listMessageMsg" resultType="map" parameterType="map" >
	    select * from shengFenPara 
	    <if test="describe != null and describe != '' " >
		    where shengName like '%${describe}%'
	    </if>
  	</select>  
  
  <insert id="addMessageDetail" parameterType="com.flowers.model.ShengFenPara" >
    insert into shengFenPara   
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shengName != null" >
        shengName,
      </if>
      <if test="shengJianJie != null" >
        shengJianJie,
      </if>
      <if test="shengXiangQing != null" >
        shengXiangQing,
      </if>
      <if test="shengPic != null" >
        shengPic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shengName != null" >
        #{shengName,jdbcType=VARCHAR},
      </if>
      <if test="shengJianJie != null" >
        #{shengJianJie,jdbcType=VARCHAR},
      </if>
      <if test="shengXiangQing != null" >
        #{shengXiangQing,jdbcType=VARCHAR},
      </if>
      <if test="shengPic != null" >
        #{shengPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

	<update id="updateMessageDetail" parameterType="com.flowers.model.ShengFenPara" >
    update shengFenPara  
    <set >
      <if test="shengName != null" >
        shengName = #{shengName,jdbcType=VARCHAR},
      </if>
      <if test="shengJianJie != null" >
        shengJianJie = #{shengJianJie,jdbcType=VARCHAR},
      </if>
      <if test="shengXiangQing != null" >
        shengXiangQing = #{shengXiangQing,jdbcType=VARCHAR},
      </if>
      <if test="shengPic != null" >
        shengPic = #{shengPic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteMessageDetail" parameterType="java.lang.Integer" >
    delete from shengFenPara  
    where id = #{id,jdbcType=INTEGER}
  </delete>


	<!--          企业单位-->
	<select id="listUserAndCompanyMsg" resultType="map" parameterType="map" >
			SELECT * from userandcompany uac,userdetail ud 
			WHERE ud.userName = uac.userName
	    <if test="describe != null and describe != '' " >
		    and ud.userName like '%${describe}%'
	    </if>	    
	    <if test="companyName != null and companyName != '' " >
		    and companyName = '${companyName}'
	    </if>
  	</select>

	<update id="updateUserAndCompany" parameterType="com.flowers.model.Userandcompany" >
    update userandcompany 
    <set >
      <if test="isSendInvitation != null" >
        isSendInvitation = #{isSendInvitation,jdbcType=INTEGER}
      </if>
    </set>
    where userName = #{userName,jdbcType=VARCHAR} AND companyName = #{companyName,jdbcType=VARCHAR} 
  </update>

	<select id="listCompanyFaBuMsg" resultType="map" parameterType="map" >
			SELECT * from companyfabumsg 
			WHERE companyName = '${companyName}' 
	    <if test="describe != null and describe != '' " >
		    and jobsName like '%${describe}%'
	    </if>
  	</select>

  <insert id="addCompanyFaBuMsg" parameterType="com.flowers.model.CompanyFaBuMsg" >
    insert into companyfabumsg 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyName != null" >
        companyName,
      </if>
      <if test="jobsName != null" >
        jobsName,
      </if>
      <if test="jobsDesc != null" >
        jobsDesc,
      </if>
      <if test="jobsYqJieShao != null" >
        jobsYqJieShao,
      </if>
      <if test="jobsMoney != null" >
        jobsMoney,
      </if>
      <if test="jobsPersons != null" >
        jobsPersons,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="jobsName != null" >
        #{jobsName,jdbcType=VARCHAR},
      </if>
      <if test="jobsDesc != null" >
        #{jobsDesc,jdbcType=VARCHAR},
      </if>
      <if test="jobsYqJieShao != null" >
        #{jobsYqJieShao,jdbcType=VARCHAR},
      </if>
      <if test="jobsMoney != null" >
        #{jobsMoney,jdbcType=VARCHAR},
      </if>
      <if test="jobsPersons != null" >
        #{jobsPersons,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="int" keyProperty="id" order="BEFORE">
    	select CASE  when id is NULL then 1 else id END id
		from (select max(id)+1 id from companyfabumsg)a
    </selectKey>
  </insert>

  <update id="updateCompanyFaBuMsg" parameterType="com.flowers.model.CompanyFaBuMsg" >
    update companyfabumsg 
    <set >
      <if test="companyName != null" >
        companyName = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="jobsName != null" >
        jobsName = #{jobsName,jdbcType=VARCHAR},
      </if>
      <if test="jobsDesc != null" >
        jobsDesc = #{jobsDesc,jdbcType=VARCHAR},
      </if>
      <if test="jobsYqJieShao != null" >
        jobsYqJieShao = #{jobsYqJieShao,jdbcType=VARCHAR},
      </if>
      <if test="jobsMoney != null" >
        jobsMoney = #{jobsMoney,jdbcType=VARCHAR},
      </if>
      <if test="jobsPersons != null" >
        jobsPersons = #{jobsPersons,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteCompanyFaBuMsg" parameterType="java.lang.Integer" >
    delete from companyfabumsg 
    where id = #{id,jdbcType=INTEGER}
  </delete>  
</mapper>